body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: #009B4D;
    color: white;
    text-align: left;
    padding: 10px;
}

header h1 {
    margin: 0;
}

h2{
    color: #009B4D;
}

#content{ 
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 40px;
    padding: 20px;
    background: linear-gradient(to bottom right, white,white,white,white,#00DD00,#00DD00);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

table {
    background-color: white;
    width: 85%;
    border-collapse: collapse;
}

table th{
    width: 33.3%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #009B4D;
    color: white;
}

button#buttonInitGame {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #009B4D;
    color: white;
    cursor: pointer;
    border: black solid;
    border-radius: 5px;
}

button#buttonInitGame:hover {
    background-color: #00DD00;
}

#popup{
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid gray;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

#playerName {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 5px;
}

#buttonSaveName {
    padding: 10px 20px;
    background-color: #009B4D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buttonSaveName:hover {
    background-color: #00DD00;
}

