body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #009B4D;
    color: white;
    text-align: left;
    padding: 10px;
}

header h1 {
    margin: 0;
}

header button {
    font-family: Arial, sans-serif;
    background-color: #009B4D;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: black solid;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #00DD00;
}

h4{
    color: #009B4D;
}

#game{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 50px;
    justify-items: center;
}

.boxToLeft{
    margin: 5px;
    padding: 5px;
    background: linear-gradient(to bottom right, white,white,white,white,#00DD00,#00DD00);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    max-height: 50px;
    min-width: 300px;
}

.status{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.information{
    margin: 20px;
    padding: 10px;
    justify-content: left;
    min-width: 400px;
}

h2{
    color: #009B4D;
}

h4{
    margin-left: 5px;
    margin-right: 5px;
}

#wordToGuess{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#img{
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to bottom right, white,white,white,white,#00DD00,#00DD00);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#alphabetContainer{
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    background: linear-gradient(to bottom right, white,white,white,white,#00DD00,#00DD00);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.guess{
    margin: 10px;
    padding: 10px;
    font-size: 1.4em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.letter {
    margin: 5px;
    padding: 5px;
    min-width: 50px;
    border-radius: 20px;
    border: black solid;
}

.letter:hover{
    background-color: gray;
}

#popup{
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#popup1{
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid gray;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.backToLanding {
    padding: 10px 20px;
    background-color: #009B4D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backToLanding:hover {
    background-color: #00DD00;
}
